OPENAI_MAX_TOKENS=512
OPENAI_PROMPT_PREFIX="Take the next message as a prompt and return the names of the places concatenated with the city and the country in a valid JSON array. The response should be immediately parseable and the format should be strictly [String, String, String, ...]. It does not matter that you do not have access to real time data."